.nav__iconapp {
  background: url("../../img/Sprites.64af8f61.svg") no-repeat -424px -86px !important;
}

.sidebar_state {
  width: var(--size-sidebar-width-collappsed) !important;
}

.sidebar {
  height: 100%;
  width: var(--size-sidebar-width);
  min-width: var(--size-sidebar-width-collappsed);
  font-size: var(--size-sidebar-font);
  background-color: var(--color-sidebar-background);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  /* transition: width 0.05s; */
}

.sidebar__logo {
  width: 100%;
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 48px;
  padding-left: 24px;
}

.nav {
  padding-top: 14px;
  overflow: hidden;
  width: var(--size-sidebar-width);
  position: absolute;
}

.nav__item {
  white-space: nowrap;
  width: 100%;
  padding-left: 8px;
  border-left: 6px solid var(--color-sidebar-border-left);
  cursor: pointer;
  display: inline-flex !important;
  align-items: center;
  height: 42px !important;
  line-height: 42px !important;
}

.nav__item:focus-visible {
  border: none;
  outline: none;
}

.sidebar__row--hover {
  --color-sidebar-border-left: #616164;
  background-color: var(--color-sidebar-item-hover);
}

.sidebar__row--active {
  --color-sidebar-border-left: #2ca01c;
  background-color: var(--color-sidebar-item-hover);
  font-family: NotosanBold;
}

.nav__icon--toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--size-header-height);
}

.nav__toggle {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.nav__logo {
  width: 96px;
  height: 32px;
  background-image: url(../../img/Logo_Module_TiengViet_White.66947422.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item__icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 100%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

a {
  text-decoration: none;
  display: contents;
  color: var(--color-sidebar-text);
}

/* icons */
.icon {
  background: url("../../img/Sprites.64af8f61.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.icon-overview {
  background-position: -30px -1628px;
}

.icon-overview-active {
  background-position: -30px -1585px;
}

.icon-cash {
  background-position: -73px -1628px;
}

.icon-cash-active {
  background-position: -73px -1586px;
}

.icon-bankdeposite {
  background-position: -117px -1628px;
}

.icon-bankdeposite-active {
  background-position: -117px -1585px;
}

.icon-shopping-bag {
  background-position: -161px -1628px;
}

.icon-shopping-bag-active {
  background-position: -161px -1585px;
}

.icon-shopping-cart {
  background-position: -204px -1628px;
}

.icon-shopping-cart-active {
  background-position: -204px -1585px;
}

.icon-invoice {
  background-position: -249px -1628px;
}

.icon-invoice-active {
  background-position: -249px -1585px;
}

.icon-warehouse {
  background-position: -291px -1628px;
}

.icon-warehouse-active {
  background-position: -291px -1585px;
}

.icon-tool {
  background-position: -336px -1628px;
}

.icon-tool-active {
  background-position: -336px -1585px;
}

.icon-asset {
  background-position: -378px -1630px;
}

.icon-asset-active {
  background-position: -378px -1587px;
}

.icon-tax {
  background-position: -423px -1630px;
}

.icon-tax-active {
  background-position: -423px -1587px;
}

.icon-price {
  background-position: -467px -1628px;
}

.icon-price-active {
  background-position: -467px -1585px;
}

.icon-common {
  background-position: -510px -1628px;
}

.icon-common-active {
  background-position: -510px -1585px;
}

.icon-budget {
  background-position: -378px -1659px;
}

.icon-budget-active {
  background-position: -422px -1659px;
}

.icon-report {
  background-position: -547px -1628px;
}

.icon-report-active {
  background-position: -547px -1585px;
}

.icon-stock {
  background-position: -204px -1664px;
}

.icon-stock-active {
  background-position: -204px -1664px;
}
