.tooltip {
  position: relative;
  --scale: 0;
  --arrow-size: 0px;
  --tooltip-color: #272b2e;
  --tooltip-message: 'Mã không được trống.';
  --text-color: #fff;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
  font-size: 13px;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: var(--tooltip-message);
  color: var(--text-color);
  padding: 0.5rem;
  /* border-radius: 0.3rem; */
  text-align: center;
  width: max-content;
  max-width: 90%;
  background-color: var(--tooltip-color);
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size) - 1px);
  content: '';
  /* border: 10px solid transparent; */
  /* border-top-color: var(--tooltip-color); */
  transform-origin: top center;
}
